---
---

@charset "utf-8";

// Everybody loves comic sans!
body {
    font-family:"Comic Sans MS";
	text-align: center;	
	align: center;
}

table {
	margin-left:auto; 
    margin-right:auto;
}

th, td {
	text-align: center;	
}

h1 {
    text-align: center;
    font-size: 18px;
}

h2 {
    text-align: center;
    font-size: 16px;
}

.greetings {
    text-align:justify;
    max-width: 600px;
    margin: auto;
}
