<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta name="keywords" content="static site generator, jekyll, comic, webcomic, template">

  <title>{{ page.title }}</title>
  {% if site.author %}
    <meta name="author" content="{{ site.author }}">
  {% endif %}
  {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  
  <link href="{{ site.url | append: site.baseurl }}/css/main.css" media="screen, projection" rel="stylesheet" type="text/css">
  
</head>
