<ul>
    <li><a href="{{ site.url | append: site.baseurl }}/index.html">Home</a></li>
    <li><a href="{{ site.url | append: site.baseurl }}/html/EenStripje/1.html">Een Stripje</a> <a href="{{ site.url | append: site.baseurl }}/nieuw.xml">(RSS)</a> </li>
    <li><a href="{{ site.url | append: site.baseurl }}/html/comics/SomeComic-1/0.html">Some comic</a> <a href="{{ site.url | append: site.baseurl }}/new.xml">(RSS)</a> </li>
</ul>