---
layout: default
---
<h1>{{ page.series }} {% if page.chapter %}: {{ page.chapter }}{% endif %}</h1>
{% if page.title %}<h2>{{ page.title }}</h2>{% endif %}

<table>
  	<tr>
  		<td colspan="4">
  		<img src="{{ site.url | append: site.baseurl }}/{{ page.img_url }}" alt="{{ page.img_alt }}" class="center">
  		{% if page.comments %}<p><i>Author note:</i> {{ page.comments }}</p>{% endif %}
  		{% if page.long_description %}<p>{{ page.long_description }}</p>{% endif %}
  		</td>
  	</tr>
  	<tr>
  		<td>
  			{% if page.previous_in_chapter %}
  			<a href="{{ site.url | append: site.baseurl }}{{ page.previous_in_chapter }}">
  			{% if page.language == "En" %}Previous{% else %}Vorige{% endif %}
  			</a>
  			{% elsif page.previous_comic_last_page%}
            <a href="{{ site.url | append: site.baseurl }}{{ page.previous_comic_last_page }}">
            {% if page.language == "En" %}Previous{% else %}Vorige{% endif %}
  			{% endif %}
  		</td>
  		<td>
  			{% if page.previous_in_chapter %}
  			<a href="{{ site.url | append: site.baseurl }}{{ page.first_in_chapter }}">
  			{% if page.language == "En" %}First{% else %}Begin{% endif %}
  			{% elsif page.previous_comic_first_page%}
            <a href="{{ site.url | append: site.baseurl }}{{ page.previous_comic_first_page }}">
            {% if page.language == "En" %}Previous chapter{% else %}Vorige hoofstuk{% endif %}
  			</a>
  			{% endif %}
  		<td>
  			{% if page.next_in_chapter %}
  			<a href="{{ site.url | append: site.baseurl }}{{ page.last_in_chapter }}">
  			{% if page.language == "En" %}Last{% else %}Einde{% endif %}
  			</a>
  			{% endif %}
  		</td>
  		<td>
  			{% if page.next_in_chapter %}
  			<a href="{{ site.url | append: site.baseurl }}{{ page.next_in_chapter }}">
  			{% if page.language == "En" %}Next{% else %}Volgende{% endif %}
  			</a>
  			{% elsif page.next_comic_first_page%}
  			<a href="{{ site.url | append: site.baseurl }}{{ page.next_comic_first_page }}">
  			{% if page.language == "En" %}Next Chapter{% else %}Volgende hoofdstuk{% endif %}
  			{% endif %}
  		</td>
	</tr>
  	<tr>
  		<td colspan="4">
  		{% if page.index != 0 %}
  		<p>{{ page.index }} / {{ page.total_nb_pages }}</p>
  		{% endif %}
  		</td>
  	</tr>
</table>

